.loading {
    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
        }
        50% {
            -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
        }
        100% {
            -webkit-transform: rotateX(360deg);
                    transform: rotateX(360deg);
        }
    }
    @keyframes rotate {
        0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
        }
        50% {
            -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
        }
        100% {
            -webkit-transform: rotateX(360deg);
                    transform: rotateX(360deg);
        }
    }

    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }

    &--none {
        display: none;
    }
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;
    background-size: cover;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $green;
        backdrop-filter: blur(.5px);
        opacity: .78;
    }

    h2 {
        font-weight: 700;
        font-size: 5rem;
        z-index: 2;
        position: relative;
        text-transform: uppercase;

        margin: 5rem 0;

        &::after {
            content: '';
            width: 18rem;
            height: .5rem;
            background-color: $white;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.main {
    &__home .divisor {
    background-image: url('../img/empresa.png');
    margin-bottom: 5.3rem;

        h2 {
            margin: 4rem 0;

            &::after {
                left: 3rem;
                transform: none;
            } 
        }
    }

    &__visao-missao .divisor {
        background-image: url('../img/visao.png');
        margin-bottom: 4rem;
    
        &:nth-of-type(3) {
            background-image: url('../img/missao.png');
            margin-top: 4rem;
        }
    }

    &__produtos {
        &-container {
            display: flex;
            justify-content: space-between;
            margin-top: 4rem;
        }
        
        .divisor {
            background-image: url('../img/produtos-divisor.png');
        }

        &-img {
            max-width: 55rem;
            height: 50rem;
            object-fit: cover;
            align-self: center;
        }

        article {
            max-width: 55rem;
            
            p {
                white-space: initial;
            }
        }
    }

    &__politica .divisor{
        background-image: url('../img/politica-divisor.png');
    }

    &__logistica .divisor{
        background-image: url('../img/logistica-divisor.png');
    }

    &__atendimento  {
        &-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 4rem;
    
            article {
                max-width: 55rem;
            }

            figure {
                max-width: 55rem;
            }
        }

        .divisor{
            background-image: url('../img/atendimento-divisor.png');
        }
    }

    &__politica-container, &__logistica-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-top: 4rem;

        article {
            max-width: 55rem;
        }
    }

    &__politica figure, &__logistica figure {
        max-width: 40rem;
        height: 40rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.informacoes {
    &:first-of-type {
        margin-top: 5rem;
    }

    &__title {
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
        display: block;
    }

    &__subtitle {
        font-size: 2rem;
    }

    img {
        margin: 0 0 3rem;
        max-width: 16.6rem;
    }
}