.loading {
    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
        }
        50% {
            -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
        }
        100% {
            -webkit-transform: rotateX(360deg);
                    transform: rotateX(360deg);
        }
    }
    @keyframes rotate {
        0% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
        }
        50% {
            -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
        }
        100% {
            -webkit-transform: rotateX(360deg);
                    transform: rotateX(360deg);
        }
    }

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;
    background-size: cover;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $blue;
        backdrop-filter: blur(.5);
        opacity: .78;
    }

    h2 {
        font-weight: 700;
        font-size: 7.2rem;
        z-index: 2;
        position: relative;

        &::after {
            content: '';
            width: 18rem;
            height: .5rem;
            background-color: $white;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.main__home .divisor {
    background-image: url('../img/empresa.png');
    margin-bottom: 5.3rem;

    h2 {
        margin: 9.1rem 0;

        &::after {
            left: 3rem;
            transform: none;
        } 
    }
}