@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(360deg);
                transform: rotateX(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    50% {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(360deg);
                transform: rotateX(360deg);
    }
}
  

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }
}