.footer {
    background-color: $blue;
    margin-top: 11.6rem;
    position: relative;

    &__container {
        max-width: 90%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 1.6rem 0;
        padding-right: 3.6rem;

        img:first-of-type {
            margin-bottom: 1.7rem;
        }

        &::after {
            content: '';
            width: .2rem;
            height: 6.6rem;
            background-color: $white;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    &__nav {
        color: $white;
        font-size: 1.4rem;
        margin-top: 4.5rem;

        a:not(:last-of-type) {
            margin-right: 5rem;
        }
    }

    &__up {        
        align-self: center;
    }

    p {
        position: absolute;
        bottom: 1.3rem;
        left: 50%;
        transform: translateX(-50%);

        font-size: 1.3rem;
        color: $white;
    }
}